/* reusable centering class */
.centered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin desktop {
    @media screen and (min-width: 600px) {
      @content
    }
}

.h1_desktop {
    color: #000;
    font-family: Helvetica Neue;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px; /* 156.667% */
    letter-spacing: 2.67px;
}

.big_desktop {
    color: #000;
    font-family: Helvetica Neue;
    font-size: 27px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 1.35px;
}

.medium_desktop {
    color: #000;
    font-family: Helvetica Neue;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    letter-spacing: 1.29px;
}

.sml_desktop {
    color: #000;
    font-family: Helvetica Neue;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: 30px; /* 125% */
    letter-spacing: 1.97px;
}