@import '../../Styles/style';

.cards_container {
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 18px;

    @include mobile {
        padding-left: 20px;
    }

    @include desktop {
        align-items: center;
        gap: 40px;
        padding: 0 127px;
    }

    .medium_font {
        @include medium_mobile;
        text-transform: uppercase;
        align-items: center;

        @include desktop {
            text-align: center;
            @include font_styling;
            font-size: 30px;
            letter-spacing: 1.25px;
            line-height: 35px;

            &.small {
                align-self: flex-start;
            }
        }
    }

    .cards {
        display: flex;
        gap: 16px;  
        
        // @include mobile {
        //     overflow-x: auto; 
        //     -ms-overflow-style: none;  /* IE and Edge specific: Hide the scrollbar */
        //     scrollbar-width: none;  /* Firefox specific: Hide the scrollbar */
        //     &::-webkit-scrollbar {
        //         display: none;  /* Webkit (Chrome, Safari) specific: Hide the scrollbar */
        //     }
        // }

        @include desktop {
            flex: 1; /* Make all cards take up equal height */
            overflow: hidden; /* Hide overflow content */
            max-width: calc(379px*3 + 16px*2); 

            &.big {
                align-items: center;
                gap: 24px;
            }
      
            &.small {
                align-self: flex-start;
                gap: 16px;
            }
          }
    }

    .more_container {
        display: flex;
        align-items: center;
        gap: 12px;

        @include desktop {
            justify-content: flex-end;
            width: 100%;
            &.small {
                display: none
            }
        }

        .medium_font_not_apper {
            @include medium_mobile;
            line-height: 35px;
            letter-spacing: 2px;
            font-weight: 400;

            @include desktop {
                text-align: right;
                font-size: 24px;
                line-height: 35px;
                letter-spacing: 2px;
            }
        }

        .arrow {
            width: 24px;
            height: 24px;
            padding: 3px 0px;
            justify-content: center;
            align-items: center;
        }
    }
}
