@import '../../Styles/style';

.chefInfo_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    box-sizing: border-box;
    gap: 16px;

    @include desktop {
        gap: 40px;
        padding: 0 129px;
    }

    @include desktop {
        .desktop_chef_content {
            display: flex;
            gap: 64px;
        }
    }

    .medium_font {
        margin: 0;
        align-self: flex-start; /* Align to the left of the container */
        @include font_styling;
        line-height: 35px; 
        letter-spacing: 1.25px;
        text-transform: uppercase;    

        @include desktop {
            align-self: center;
            text-align: center;
            font-size: 30px;
        }
    }

    .img_container {
        position: relative;
    
        .chef_img {
            width: 100%;
    
            @include desktop {
                width: 478px;
                height: 372px;
            }
        }
    
        .chef_name {
            position: absolute;
            top: 220px;
            width: 100%;
            background: rgba(255, 255, 255, 0.80);
            @include font_styling;
            font-size: 18px;
            font-weight: 400;
            line-height: 47px;
            letter-spacing: 2.67px;
            text-align: center;
    
            @include desktop {
                top: 300px;
                font-size: 40px;
                line-height: 78px;
            }
        }
    }

    .sml_font {
        @include medium_mobile;
        line-height: 28px;
        margin: 0;     

        @include desktop {
            font-size: 24px;
            line-height: 35px;
        }
    }
}