@import '../../Styles/style';

.card {
    background-color: #F9F4EA;
    width: 245px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include desktop {
        width: 379px;

        &.small {
            width: 231px;
        }
    }

    .card_img {
        width: inherit;
        height: 151.804px;
        @include desktop {
            height: 234.769px;
        }
    }

    .card_content {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include mobile {
            align-items: flex-start;
        }

        @include desktop {
            justify-content: center;
            align-items: center;
            align-self: stretch;
            text-align: center;
            padding: 24px 0px 8px 0px;
        }

        .medium_bold_font {
            @include medium_mobile;
            font-weight: 400;

            @include desktop {
                @include h1_desktop;
                &.small {
                    font-size: 30px;
                    line-height: 47px; /* 156.667% */
                    letter-spacing: 2.67px;
                }
            }
        }

        .rank {
            @include mobile {
                display: none;
            }
            @include desktop {
                width: 216px;
                height: 40px;
                flex-shrink: 0;
            }
        }

        .xsml_font {
            @include sml_mobile;

            @include desktop {
                @include sml_desktop;
            }
        }
    }


}