@import '../../Styles/style';

.card {
    background-color: #F9F4EA;
    width: 245px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .card_img {
        width: inherit;
        height: 151.804px;
    }

    .card_content {
        // height: 81px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-items: flex-start;
        gap: 8px;

        .medium_bold_font {
            @include medium_mobile;
            font-weight: 400;
        }

        .xsml_font {
            @include sml_mobile;
        }
    }


}