@import '../Styles/style';

.homePage{
    margin-bottom: 0px;

    .feed {
        display: flex; 
        flex-direction: column; 
        gap: 48px;

        @include desktop {
            gap: 80px;
        }
    }
}