@import '../../Styles/style';

.footer {
    padding: 20px 232px 24px 19px;
    display: flex;

    @include desktop {
        height: 60px;
        padding: 31px;
        flex-direction: column;
        // justify-content: center;
    }
    
    .links {
        display: flex;
        align-self: center;
        gap: 40px;

        @include mobile {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .link {
            width: max-content;
            color: #000;
            font-family: "Helvetica Neue";
            font-size: 18px;
            font-style: normal;
            font-weight: 200;
            line-height: normal;
            letter-spacing: 1.92px;
        }
    }
}