@import './Styles/_style.scss';

.App {
  /* text-align: center; */
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;

  @include desktop {
    // gap: 48px;
  }
}